<!-- <div> <div style="margin-top:8px">Selected Node: {{article | json}}</div> </div> -->
<!--<md-tab-group [selectedIndex]="selectedTab">
  <md-tab *ngFor="let link of getnavLinks()" 
  	label="{{link? link?.label : none }}">

    <h1>{{link?.data}}</h1>

  </md-tab>
</md-tab-group>-->

<!-- Tabs with routing  -->
<!--  <nav md-tab-nav-bar >
  <a md-tab-link
     *ngFor="let article of getnavLinks(); let i = index"
     [routerLink]="article.id"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{article.label}}
  </a>
</nav> -->
<!--<md-tab-group ([selectedIndex])="activatedTab" (selectedIndexChange)="activatedTab" (selectChange)="onTabChange($event)">-->
<!--<md-tab
     *ngFor="let article of articles; let i = index"
     [routerLink]="article.id"
     routerLinkActive #rla="routerLinkActive"
     position="article.id"
     templateLabel="article.label"
     content="article.id"
     textLabel="article.label"
     >
    <ng-template md-tab-label>
      {{article.label}}
    </ng-template>
   </md-tab>-->
<md-tab-group [(selectedIndex)]="activeTabIndex" (selectedIndexChange)="onTabChange($event)">
  <md-tab *ngFor="let article of articles" [label]="article?.label">
    <div [ngSwitch]="article?.id">
      <app-stats-tab *ngSwitchCase="'stats'"></app-stats-tab>
      <app-article-tab *ngSwitchDefault  [article]="article"></app-article-tab>
    </div>
  </md-tab>

</md-tab-group>


<!--<router-outlet></router-outlet> -->