<!-- MD layout -->
<!-- Header -->
<app-topbar></app-topbar>
<!-- End Header -->
<!-- Body -->
<div class="app-container">
    <md-sidenav-container class="sidenav-container-cls">
    	<!-- side navigation panel -->
     	<md-sidenav opened="true" mode="side">

		    <app-sidebar>

		    </app-sidebar>
	    
	  	</md-sidenav>
	  	<!-- end side navigation panel -->
	    <!-- primary content -->
		<app-content>

		</app-content>
		<!-- end primary content -->

	</md-sidenav-container>

</div>
<!-- End Body -->