<!-- primeNg tree component -->
<div class="section top-sidebar">
    <p-tree 
        [value]="files" 
        selectionMode="single" 
        [(selection)]="selectedArticle" 
        (onNodeSelect)="nodeSelect($event)">
    </p-tree>
</div>
<!-- end tree panel -->

<!-- stats panel -->
<div class="section bottom-sidebar">
    <md-toolbar color="accent">
        Administration
    </md-toolbar>
    <div class="stats-btn-cls">
    	<button md-raised-button color="primary" (click)="onStatsClick($event)" > STATS </button>
    </div>
</div>
<!-- end stats panel -->