:host{
    .example-card {
        // width:100%;
        border-bottom: 1px solid #b0bec5;                
        // float: left;
        // background: #230a0a;
    }

    .example-header-image {
        background-image: url('/assets/images/wtt-logo50x.png');
        background-size: cover;
    }
}