/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
p-tree{
    .ui-widget-content {
        border: transparent !important;
        background: transparent !important;
        color: #f7e1ea;
        background-color: transparent !important;
    }
    .ui-state-highlight{
        background: #c2185b !important;
    }
}